* {
    padding: 0;
    margin: 0;
    border: 0;
  
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, #001214, #001f29);

}

.pageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.startTodoBtn {
    width: 50px;
    height: 30px; 
    background-color: #002837;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    transition: background-color 2s ease-out;
    
    

    
}

.startTodoBtn:hover {
    background-color: #001f29;
    color: rgb(135, 136, 222);
    cursor: pointer;
}

.startTodoBtn:active {
    background-color: red;
    
}


.startForm {
    display: flex;

}




.Todos {
    display: flex;
    justify-content: center;

}

.TodoSubject {
    width: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    background-color: #01394c;
    box-shadow: none;

    
}

.TodoSubject:focus {
    outline: none;
}

.trash {
    bottom:30px;
    right: 30px;
    position: absolute;
}


.TodoForm {
    display: none;
    flex-direction: column;
    position: relative;
    
    
}


.TodoForm input {
    margin: 10px;
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    background-color: #01394c;

}



.TodoForm label {
    margin: 10px;
    color: rgb(242, 243, 238);
}


.emailHover {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute; 
    bottom: 30px;
    


}


.emailLabel {
    position: relative;
    
}

.emailLabel:hover .emailHover{
    visibility: visible;
    
    
}

.submitContainer {
    display: flex;
    justify-content: space-around;
}


