* {
    padding: 0;
    margin: 0;
    border: 0;
  
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(100deg, #001214, #001f29);

}


.pageContainer {
    width: 100%;
    height: 100%;
}


.formsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position:relative;
    top: 25%;
    
}

.startTodoBtn {
    width: 25vw;
    background-color: #002837;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 13px;
    transition: background-color 2s ease-out;
    
    

    
}

.startTodoBtn:hover {
    background-color: #001f29;
    color: aqua;
    cursor: pointer;
}

.startTodoBtn:active {
    background-color: red;
    
}


.startForm {
    display: flex;
    height: 40px;
    transition:
        height 0.6s,
        width 0.6s,
        visibility 0.3s linear,
        opacity 0.3s linear;
    visibility: visible;
    opacity: 1;


}


@media (max-width: 550px) {
    .startForm {
        flex-direction: column;
        align-items: center;
        height: 80px;
        
    }

    .TodoSubject {
        height: 35px;
        border-radius: 15px;
    }

    .startTodoBtn {
        margin-top: 10px;
        height: 35px;
        border-radius: 15px;
    }



    .TodoForm {
        width: 90%;
        

    }

}



.Todos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 60%;
    margin: 5%;
    transition: all linear 0.6s;
    
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    border-radius: 10px;
    background-color: aqua;
    padding: 2%;
    overflow: hidden;
    transition: all linear 0.6s;
    
}



p {
    opacity: 0;
    overflow-y: hidden;
    max-height: 0ch;
    overflow-wrap: break-word;
    transition: all linear 0.6s;
    flex-basis: 100%;
}


.Todos:hover > .todo {opacity: 0.8; filter: blur(0.1rem);}
.Todos > .todo:hover {opacity: 1; filter: blur(0); height: auto;}
.Todos > .todo:hover p {opacity: 1; max-height: 20ch;}


.TodoSubject {
    width: 45vw;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    color: aqua;
    background-color: #01394c;
    box-shadow: none;

    
}

.TodoSubject:focus {
    outline: none;
}


.trash {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    bottom:40px;
    right: 40px;
    height: 0px;
    width: 0px;
    overflow: hidden;
}

.showTrash:hover > .todo {opacity: 0.8; filter: blur(0.1rem);}
.showTrash > .todo:hover {opacity: 1; filter: blur(0); height: auto;}
.showTrash > .todo:hover p {opacity: 1; max-height: 20ch;}


.showTrash {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    bottom:52px;
    right: 35px;
    top:52px;
    left: 35px;
    /* height: auto;
    width: auto; */
    padding: 5%;
    animation: showTrashAnimation 2s;
    animation-fill-mode: forwards;
}

.hideTrash {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    bottom:52px;
    right: 35px;
    top:52px;
    left: 35px;
    animation: hideTrashAnimation 2s;
    animation-fill-mode: forwards;
}


@keyframes hideTrashAnimation {  
    0% {clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);}

    33% {clip-path: polygon(0% 0%, 98% 100%, 100% 100%, 100% 0%);}

    66% {clip-path: polygon(98% 0%, 98% 100%, 100% 100%, 100% 0%);}
    
    100% {clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);}
        
}

@keyframes showTrashAnimation { 
    0% {clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);} 
    
    33% {clip-path: polygon(98% 0%, 98% 100%, 100% 100%, 100% 0%);}

    66% {clip-path: polygon(0% 0%, 98% 100%, 100% 100%, 100% 0%);}
    
    100% {clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);}
    
}



.trashBtn {
    bottom:30px;
    right: 30px;
    position: absolute;
    background-color: transparent;
    
}

.trashBtn:hover h1 {
    color: aqua;
}


.TodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* position: relative; */
    height: 0px;
    min-width: 55%;
    transition: ease all 0.6s;

}




.TodoForm input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 98%;
    height: 5vh;
    text-align: center;
    background-color: #01394c;
    color: aqua;



}

.discription {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 93%;
    height: 20%;
    overflow: visible;
    padding: 2%;
    background-color: #01394c;
    color: aqua;
    resize: none;
    

}

label h1{
    text-align: center;
}

.TodoForm button {
    margin: 10px;
    
}



.TodoForm label {
    position: relative;
    align-self: flex-start;
    margin: 10px;
    color: rgb(242, 243, 238);
}


.emailHover {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute; 
    bottom: 30px;
    


}


.emailLabel {
    position: relative;
    
}

.emailLabel:hover .emailHover{
    visibility: visible;
    
    
}

.submitContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    

}

.addTodo {
    background-color: transparent;
}

.addTodo h1 {
    color: aqua;
}

.addTodo:hover h1 {
    color: green;
    
}


.cancelBtn {
    background-color: transparent;
}

.cancelBtn h1 {
    color: aqua;
}

.cancelBtn:hover h1 {
    color: red;
}

button {
    background-color: transparent;
}


h1 {
    text-transform: uppercase;
    pointer-events: none;
}

