

.Container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
}







.nav {
    background-color:#07302a;
    display: flex;
    font-size: larger;
    
    
    
}

.calendar {
    width: 100%; 
    background: linear-gradient(#07302a, #00d4ff);
    border: none;
    display: flex;
    flex-direction: column;
    
     
}




.react-calendar__tile {
    height: 17.08vh;
   
    
}
/* #remove the input color and make it blend in with the background */

input {
    padding: 12px;
    border-radius: 25px;
}

ul {
    display: online;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 200px;
}


li {
    float: left;
  }
  
  a {
    display: block;
    padding: 12px;
  }