.homeContainer {
    width: 100px;
    height: 100px;
    
    color: red;
}


.Container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    
}




.contentPage {
    background-color: bisque;
    padding: 5%;
    
}


.nav {
    background-color: yellow;
    align-content: right;
    font-size: larger;
    padding: 10%;
    
}

.calendar {
    margin: 10%;
    height: 85%;
    width: 85%;

}






abbr {
    text-size-adjust: 50px;
}