.homeContainer {
    width: 100px;
    height: 100px;
    
    color: red;
}


.Container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    
}






.contentPage {
    background-color: bisque;
}


.nav {
    background-color: yellow;
    align-content: right;
    
}