.homeContainer {
    width: 100px;
    height: 100px;
    
    color: red;
}


.Container {
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    
}




.contentPage {
    background-color: bisque;
}


.nav {
    background-color: azure;
}

.calendar {
    height: 100vh;
    width: 100%;
}

button {
    background-color: blue;
}